<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{Onestic}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- To menu mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>        
    </head>
    <body class="pushmenu-push"> 
        
            {% block header %}{% endblock %}
            {% block filter %}{% endblock %}
            {% block body %}{% endblock %}
            {% block footer %}{% endblock %}
            {% block javascripts %}{% endblock %}
    </body>
</html>
