<nav class="pushmenu pushmenu-left">
    <h3>{ <b>On</b>estic }</h3>
    <ul class="links">
      <li>  <a href="#">Menu 1</a> </li>
       <li> <a href="#">Menu 2</a> </li>
       <li> <a href="#">Menu 3</a> </li>
       <li> <a href="#">Menu 4</a> </li>
    </ul>
</nav>
<header id="header_onestic" class="header_onestic">    
    <div id="navMain" class="nav-main menu_desktop">    
        <div class="nav-main-container">
            <div class="nav-logo">
                <a href="/" class="nav-logo-link nav-logo-desktop ">
                    { <b>On</b>estic }
                </a>
            </div>
            <div class="nav-shop row shopMenu">
                <div class="col-xs-24 col-ie-24 fullcol">
                    <nav class="brandsMenu">
                        <ul class="nav-shop-links brandsMenu__list brandsMenuNav">
                            <li class="brandsMenu__item brandsMenu__item0 currentBrandMenu">
                                <a class="nav-shop-link nav-shop-link-js selected" href="#" >
                                    Menu 1
                                </a>
                            </li>
                            <li class="brandsMenu__item brandsMenu__item1 ">
                                <a class="nav-shop-link nav-shop-link-js" href="#" >
                                    Menu 2
                                </a>
                            </li>
                            <li class="brandsMenu__item brandsMenu__item2 ">
                                <a class="nav-shop-link nav-shop-link-js" href="#" >
                                    Menu 3
                                </a>
                            </li>
                            <li class="brandsMenu__item brandsMenu__item3 ">
                                <a class="nav-shop-link nav-shop-link-js" href="#" >
                                    Menu 4
                                </a>
                            </li>                                
                        </ul>                            
                    </nav>         
                </div>
            </div>        
            <div id="navTools" class="nav-tools">                    
                <div id="icon_search" class="search-icon icon icon_search">W</div>                 
            </div>
        </div>
    </div>
    <div id="navMain" class="nav-main menu_mobile">    
        <div class="nav-main-container">
            <div id="nav_list" class="nav-logo icon_menu_mobile">
                Menu
            </div>
            <div class="nav-shop row shopMenu">
                <a href="/" class="nav-logo-link nav-logo-mobile ">
                    { <b>On</b>estic }
                </a>
            </div>        
            <div id="navTools" class="nav-tools">                    
                <div id="icon_search" class="search-icon icon icon_search">W</div>
            </div>
        </div>
    </div>        
</header>